* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: var(--spacing-base);
}

.main::-webkit-scrollbar {
    display: none;
}

.main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-title {
    text-align: center;
}