/**
* Font
*/

:root {
    --font-family-content: 'Cabin', sans-serif;
    --font-family-headings: 'Ubuntu', sans-serif;
    --font-color: #000;
    --font-size-base: 16px;
}

/**
* Color
*/

:root {
    --color-primary: #27ae60;
    --color-light-gray: #ecf0f1;
}

/**
* Spacing
*/

:root {
    --spacing-base: 16px;
    --spacing-large: 24px;
    --spacing-small: 8px;
}