.btn {
    text-decoration: none;
    border: 1px solid;
    padding: var(--spacing-small) var(--spacing-base);
    border-radius: var(--radius-small);
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    color: var(--color-primary);
}

.btn-secondary {
    color: var(--color-secondary);
}

.btn-full {
    width: 100%;
}

.btn-big {
    padding: var(--spacing-base) var(--spacing-large);
}

.btn-icon {
    margin-right: var(--spacing-small);
}