.duration {
    display: flex;
    width: 80%;
    justify-content: center;
}

.duration-radio-input {
    display: none;
}

.duration > .duration-radio:first-child > .duration-radio-label {
    border-radius: 5px 0 0 5px;
}

.duration > .duration-radio:last-child > .duration-radio-label {
    border-radius: 0 5px 5px 0;
}

.duration-radio {
    width: calc(100% / 3);
}

.duration-radio-input:checked + .duration-radio-label {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
}

.duration-radio-label {
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: var(--spacing-small)
}