.ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients-table {
    width: 80%;
}

.ingredients-table-amount {
    width: 50%;
}

.ingredients-table-name {
    width: 50%;
}